body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;

    padding: 0;

}



header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    height: 10vh;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
}

.container {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;

}

#section1 {
    flex: 0 0 70%;

}

#section2 {
    flex: 0 0 30%;
    background: rgb(0, 205, 226);
    background: linear-gradient(129deg, rgba(0, 205, 226, 1) 0%, rgba(156, 122, 209, 0.9969364454766282) 76%);
    color: white;
    text-align: center;

}



.fondoP {
    background-color: rgba(255, 255, 255, 0.67);
    width: 55%;
    padding: 7px;
    border-radius: 7px;
    margin: 0 auto;
    box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 0.1),
        5px 5px 5px rgba(0, 0, 0, 0.1);
}

.botones {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    gap: 10px;
}

.fondoBoton {
    background-color: rgba(255, 255, 255, 0.67);
    box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 0.1),
        5px 5px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 4%;
    border-radius: 7px;
    margin: 0 auto;
}

.changed {
    background-color: rgb(238, 238, 101);
}



.fondoBoton1 {
    background-color: red;
    box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 0.1),
        5px 5px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 4%;
    border-radius: 7px;
    margin: 0 auto;
}

.fondoCambio {
    background-color: green;
    box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 0.1),
        5px 5px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 4%;
    border-radius: 7px;
    margin: 0 auto;
}

.encendido {
    background-color: lightgreen;
}

#bombilla {
    width: 40px;


}

#temperatura {
    width: 30px;

}

#cambio {
    width: 30px;

}
.plano {
    width: 100%;
}

#router {
    display: none;
    width: 40px;
}
.changedAlarma {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5); /* Fondo semi-transparente para la alarma */
    display: none; /* Inicialmente oculto */
    z-index: 10; /* Asegura que esté sobre el container */
}

@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.fading {
    animation: fade 2s infinite; /* Animación de fade in - fade out */
}

#planoOn {
    display: none;
    width: 100%;
}

#myAlarma{
    background-color: rgba(255, 0, 0, 0.764);
}

.plano {
    width: 100%;
}

#emergencia{
    position:absolute;
    top: 23%;
    left: 35%;
    background-color: rgb(255, 0, 0);
    padding: 5%;
    display: none;
    color: white;
    border-radius: 7px;
}

#x{
    position: absolute;
    top: 25%;
    left: 64%;
    color: black;
    display: none;
    background-color: rgb(255, 0, 0);
    border-radius: 2px;
}

.logTitle{
    background-color: rgba(255, 255, 255, 0.67);
    width: 55%;
    padding: 7px;
    padding-left: 2%;
    height: 30%;
    border-radius: 7px;
    margin-left: 200px;
    box-shadow:-5px -5px 5px rgba(255, 255, 255, 0.1),5px 5px 5px rgba(0, 0, 0, 0.1);
        

    
    
}
.logText{
    border-radius: 7px;
    background-color: black;
    color: green;
    width: 90%;
    padding: 15px;
}

.changed{
    background-color: rgb(238, 238, 101);
}

#estadoAlarma {
    padding-top: 30%;
    display: flex;
    margin: auto;
    width: 30%;
    font-size: x-small;
}

@keyframes parpadeoVerde {
    0% { color: green; }
    50% { color: transparent; }
    100% { color: green; }
}

.encendida {
    animation: parpadeoVerde 1s infinite;
}
.apagada {
    color: white; /* Color estático para apagada */
}

#s2 {
    flex: 0 0 30%;
    background: rgb(0,167,226);background: linear-gradient(139deg, rgba(0,167,226,1) 0%, rgba(0,66,166,0.9969364454766282) 64%);
    color: white;
    text-align: center;
    padding-bottom: 20px;
    ;
}

#s2,
p {
    font-weight: 300;
    font-size: x-large;

    padding-top: 20px;
}

