body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url("./media/fondo.jpg"); */
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-size: cover;

}



header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    height: 10vh;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
}

.container {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    padding-bottom: 50px;
}

#section1 {
    flex: 0 0 70%;

}

#s2 {
    flex: 0 0 30%;
    background: rgb(0,167,226);background: linear-gradient(139deg, rgba(0,167,226,1) 0%, rgba(0,66,166,0.9969364454766282) 64%);
    color: white;
    text-align: center;
    padding-bottom: 20px;
    ;
}

#s2,
p {
    font-weight: 300;
    font-size: x-large;

    padding-top: 20px;
}

.fondoP {
    background-color: rgba(255, 255, 255, 0.67);
    width: 55%;
    padding: 7px;
    border-radius: 7px;
    margin: 0 auto;
    box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 0.1),
        5px 5px 5px rgba(0, 0, 0, 0.1);
}

.botones {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    gap: 10px;
}

.fondoBoton {
    background-color: rgba(255, 255, 255, 0.67);
    box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 0.1),
        5px 5px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 4%;
    border-radius: 7px;
    margin: 0 auto;
}

.fondoBoton1 {
    background-color: red;
    box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 0.1),
        5px 5px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 4%;
    border-radius: 7px;
    margin: 0 auto;
}

.changed {
    background-color: rgb(238, 238, 101);
}

/* .changedAlarma {
    background-color: rgb(224, 84, 84);
    z-index: 2;

    position: relative;
    text-align: center;

} */

.changedAlarma {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5); /* Fondo semi-transparente para la alarma */
    display: none; /* Inicialmente oculto */
    z-index: 10; /* Asegura que esté sobre el container */
}

@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.fading {
    animation: fade 2s infinite; /* Animación de fade in - fade out */
}

#planoOn {
    display: none;
}

#bombilla {
    width: 40px;

}

#myAlarma{
    background-color: rgba(255, 0, 0, 0.764);
}

.plano {
    width: 80%;
    margin-left: 85px;
}

#emergencia{
    position:absolute;
    top: 23%;
    left: 35%;
    background-color: rgb(255, 0, 0);
    padding: 5%;
    display: none;
    color: white;
    border-radius: 7px;
}

#x{
    position: absolute;
    top: 25%;
    left: 64%;
    color: black;
    display: none;
    background-color: rgb(255, 0, 0);
    border-radius: 2px;
}

.logTitle{
    background-color: rgba(255, 255, 255, 0.67);
    width: 55%;
    padding: 7px;
    padding-left: 2%;
    height: 30%;
    border-radius: 7px;
    margin-left: 200px;
    box-shadow:-5px -5px 5px rgba(255, 255, 255, 0.1),5px 5px 5px rgba(0, 0, 0, 0.1);
        

    
    
}
.logText{
    border-radius: 7px;
    background-color: black;
    color: green;
    width: 90%;
    padding: 15px;
}


/* ROUTER */
#router{
    display: none;
    width: 40px;
}

.encendido {
    background-color: lightgreen;
}


/* CALEFACCION */

#temperatura {
    width: 30px;

}


/* BOTON CAMBIO */
#cambio {
    width: 30px;

}
.fondoCambio {
    background-color: green;
    box-shadow:
        -5px -5px 5px rgba(255, 255, 255, 0.1),
        5px 5px 5px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 4%;
    border-radius: 7px;
    margin: 0 auto;
}